body {
    background-image: url('ulogin.jpg'); /* Set your background image here */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px; /* Increased the width to make the box larger */
    padding: 20px;
    border-radius: 10px;
}

.login-form {
    text-align: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.create-account {
    margin-top: 10px;
}

.create-account a {
    text-decoration: none;
    color: blue;
}

.create-account a:hover {
    text-decoration: underline;
}
